{% extends 'main_site/base.html' %}
{% load static %}

{% block title %}Аккаунты 2Гис{% endblock %}
{% block extra_styles %}
    <style>
        .account-card {
            background-color: #333; /* Более тёмный фон для карточки */
            transition: transform 0.3s ease;
            border: 1px solid #444; /* Легкая тень и граница */
        }
        .account-card:hover {
            transform: scale(1.05);
            background-color: #444; /* Немного светлее при наведении */
        }
        .card-body {
            cursor: pointer;
            padding: 20px;
        }
        .card-title, .card-text {
            color: #f0f0f0; /* Светлый текст для контраста */
        }
        .account-details {
            display: none;
            color: #fff; /* Белый цвет для текста в дополнительной информации */
        }
        .account-details.show {
            display: block;
        }
        .btn-primary {
            background-color: #1e90ff; /* Яркая кнопка */
            border-color: #1e90ff;
        }
        .btn-primary:hover {
            background-color: #3aa0ff; /* Светлее при наведении */
            border-color: #3aa0ff;
        }
        .card {
            background-color: #757575; /* Задаёт цвет текста */
        }
        .form-control{
            background-color: #afafaf;
        }
        /* Стиль для тела модального окна */
        #responseModalBody {
            color: black; /* Черный текст */
            background-color: #f8f9fa; /* Светлый фон */
        }

        /* Стиль для содержимого модального окна */
        .modal-content {
            background-color: white; /* Белый фон для содержимого */
            color: black; /* Черный текст в содержимом */
        }

        /* Стиль для модального фона */
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Заголовок -->
    <h2 class="text-center mb-4">Список аккаунтов</h2>

    <!-- Карточки аккаунтов -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for profile in dgis_profiles %}
        <div class="col">
            <div class="card shadow-sm account-card">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.username }}</h5>
                    <p class="card-text">Профиль для пользователя {{ profile.user.username }}</p>

                    <!-- Статус профиля -->
                    <div class="mb-3 d-flex align-items-center">
                        <span class="status-indicator"
                              style="width: 10px; height: 10px; border-radius: 50%; background-color: {% if profile.is_active %}green{% else %}red{% endif %}; margin-right: 8px;"></span>
                        <span>
                            {% if profile.is_active %}
                                Связка активна
                            {% else %}
                                Связка неактивна
                            {% endif %}
                        </span>
                    </div>

                    <!-- Кнопка "Связать", только если is_active=False -->
                    {% if not profile.is_active %}
                    <form method="POST" class="activate-profile-button" action="{% url 'update_or_create_2gis_profile' profile.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success mt-3 activate-button">Связать</button>
                    </form>
                    {% endif %}

                    <!-- Форма обновления профиля -->
                    <div class="account-details collapse mt-3">
                        <form id="updateProfileForm" method="POST" action="/update_2gis_profile/{{ profile.id }}/">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="login{{ profile.id }}" class="form-label">Логин</label>
                                <input type="text" class="form-control" id="login{{ profile.id }}" name="username" value="{{ profile.username }}">
                            </div>
                            <div class="mb-3">
                                <label for="password{{ profile.id }}" class="form-label">Пароль</label>
                                <input type="password" class="form-control" placeholder="Введите новый пароль" id="password{{ profile.id }}" name="password" value="">
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">У вас нет профилей 2ГИС.</p>
        {% endfor %}
    </div>

    <!-- Кнопка создать аккаунт -->
    <div class="text-center mt-4">
        <button class="btn btn-success add-account-button">Создать аккаунт</button>
    </div>

    <div class="add-account-form collapse mt-4">
        <div class="card shadow-sm p-4">
            <h4 class="text-center mb-3">Добавить новый аккаунт</h4>
            <form id="createAccountForm" method="POST" action="/create_2gis_profile/">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="newUsername" class="form-label">Логин</label>
                    <input type="text" class="form-control" id="newUsername" name="username" placeholder="Введите логин" required>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="newPassword" name="password" placeholder="Введите пароль" required>
                </div>
                <button type="submit" class="btn btn-primary">Добавить аккаунт</button>
            </form>
        </div>
    </div>
    <div id="responseModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="responseModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modalOkButton">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
    <script src={% static "main_site/js/2gis_accounts.js" %}></script>
    <script src="{% static 'main_site/js/jquery.js' %}"></script>
{% endblock %}
