{% extends 'main_site/base.html' %}

{% block title %}Выберите аккаунт{% endblock %}

{% block extra_styles %}
<style>
    .account-list {
        background-color: #2c2c2c;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
    .account-item {
        margin: 10px 0;
        padding: 10px;
        background-color: #707070;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s;
    }
    .account-item:hover {
        background-color: #505050;
    }
</style>
{% endblock %}

{% block content %}
<div class="account-list">
    <h1 class="mb-4">Выберите аккаунт</h1>
    {% if profiles %}
        {% for profile in profiles %}
            <a href="{% url '2gis_reviews' profile.id %}" class="account-item">
                {{ profile.username }}
            </a>
        {% endfor %}
    {% else %}
        <p>У вас пока нет доступных аккаунтов.</p>
    {% endif %}
</div>
{% endblock %}
