{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>BadData</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body class="page_index">
        <header class="header">
            <a href="{% url 'list_2gis_accounts' %}"><img class="logo" src="{% static 'img/log_index.svg' %}" alt="Logo"></a>
        </header>
        <main class="main">
            <section>
                <form class="login_form" action="{% url 'login' %}" method="POST">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <label class="h3" for="username">Логин</label>
                    <input type="text" id="username" name="username">
                    <label class="h3" for="password">Пароль</label>
                    <input type="password" id="password" name="password">
                    <input type="submit" value="Авторизоваться" style="cursor: pointer;">
                </form>
            </section>
        </main>
        {% if error %}
            <span class="modal_message no_mm message_login_error">
                <button class="close_message"><img src={% static 'img/close_message.svg' %}></button>
                <img src={% static 'img/no_ok.svg' %}>
                <div>
                    {{ error }}
                </div>
            </span>
        {% endif %}
        <script src={% static 'main_site/js/jquery.js' %}></script>
        <script src={% static 'main_site/js/main.js' %}></script>
        <script>
            $(document).ready(function() {
                // Элемент модального сообщения
                const $modalMessage = $('.message_login_error');
                let hideTimeout;

                // Функция для запуска таймера скрытия
                function startHideTimeout() {
                    hideTimeout = setTimeout(() => {
                        $modalMessage.fadeOut(1000);
                    }, 5000);
                }

                // Показать сообщение и установить начальный таймер скрытия
                $modalMessage.show();
                startHideTimeout();

                // При наведении мыши
                $modalMessage.on('mouseenter', function() {
                    clearTimeout(hideTimeout);        // Останавливаем таймер
                    $modalMessage.stop(true, true).fadeIn(200); // Немедленно показываем окно, если оно исчезает
                });

                // При уходе мыши снова запускаем таймер
                $modalMessage.on('mouseleave', function() {
                    startHideTimeout();
                });

                // Закрытие при нажатии на кнопку
                $('.close_message').on('click', function() {
                    $modalMessage.fadeOut(1000);
                });
            });
        </script>
    </body>
</html>