<div class="offcanvas-body">
    {% if not_found %}
        <p>Статистика еще не собрана</p>
        <button id="request-stats-btn" class="btn btn-outline-light btn-block" onclick="requestStats('{{ filial_id }}')">Запросить статистику</button>
    {% elif in_progress %}
        <p>Данные собираются</p>
        <p class="countdown-wrapper" data-end-time="{{ end_parsing_time }}">Осталось времени: <span class="countdown-timer"></span></p>
    {% else %}
        <!-- Статистика отзывов -->
        <div class="text-center">
            <h2 class="display-4">{{ result.rating }}</h2>
            <p>{{ result.count_reviews }} отзыва\ов</p>
            <!-- Прогресс-бары -->
            <!-- 5 звезд -->
            <div class="d-flex align-items-center mb-2">
                <span class="me-2 rating-number" data-rating="5">5</span>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: {{ result.five_stars_percent }}%; background-color: #a2f038"></div>
                </div>
                <span class="ms-2">{{ result.five_stars }} ({{ result.five_stars_percent }}%)</span>
            </div>

            <!-- 4 звезды -->
            <div class="d-flex align-items-center mb-2">
                <span class="me-2 rating-number" data-rating="4">4</span>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: {{ result.four_stars_percent }}%; background-color: #b6ea37"></div>
                </div>
                <span class="ms-2">{{ result.four_stars }} ({{ result.four_stars_percent }}%)</span>
            </div>

            <!-- 3 звезды -->
            <div class="d-flex align-items-center mb-2">
                <span class="me-2 rating-number" data-rating="3">3</span>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: {{ result.three_stars_percent }}%; background-color: #f0ba38"></div>
                </div>
                <span class="ms-2">{{ result.three_stars }} ({{ result.three_stars_percent }}%)</span>
            </div>

            <!-- 2 звезды -->
            <div class="d-flex align-items-center mb-2">
                <span class="me-2 rating-number" data-rating="2">2</span>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: {{ result.two_stars_percent }}%; background-color: #f09138"></div>
                </div>
                <span class="ms-2">{{ result.two_stars }} ({{ result.two_stars_percent }}%)</span>
            </div>

            <!-- 1 звезда -->
            <div class="d-flex align-items-center mb-2">
                <span class="me-2 rating-number" data-rating="1">1</span>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: {{ result.one_star_percent }}%; background-color: #c63419"></div>
                </div>
                <span class="ms-2">{{ result.one_star }} ({{ result.one_star_percent }}%)</span>
            </div>
        </div>

        <!-- Кнопки фильтрации -->
        <div class="filter-buttons mb-3">
            <button class="btn btn-light filter-without-answer">Без ответов</button>
            <button class="btn btn-light filter_is_favorite">Избранные</button>
            <button class="btn btn-light">Темы</button>
            <button class="btn btn-light" onclick="window.location.reload()">Все отзывы</button>
        </div>

        <!-- Кнопки с филиалами -->
        <div class="mt-4">
            <button class="btn btn-outline-light btn-block">Flamp</button>
            <button class="btn btn-outline-light btn-block">Яндекс</button>
            <button class="btn btn-outline-light btn-block">Google</button>
            <button class="btn btn-outline-light btn-block">Avito</button>
            <button class="btn btn-outline-light btn-block">Zoon</button>
            <button class="btn btn-outline-light btn-block">TripAdvisor</button>
            <button class="btn btn-outline-light btn-block">Yell</button>
        </div>
    {% endif %}
</div>